{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
  {{ block.super }}
  {% if change and original %}
    <li><a href="{% url 'admin:core_aditivo_doc' original.pk 'minuta' 'pdf' %}">Minuta (PDF)</a></li>
    <li><a href="{% url 'admin:core_aditivo_doc' original.pk 'extrato' 'pdf' %}">Extrato (PDF)</a></li>
    <li><a href="{% url 'admin:core_aditivo_doc' original.pk 'minuta' 'docx' %}">Minuta (DOCX)</a></li>
    <li><a href="{% url 'admin:core_aditivo_doc' original.pk 'extrato' 'docx' %}">Extrato (DOCX)</a></li>
  {% endif %}
{% endblock %}
